name: Build VS Code Extension

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-vsix:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '21'

      - name: Initialize and Install
        run: |
          cd ./
          npm init -y
          npm install

      - name: Package the extension into VSIX
        run: npx vsce package

      - name: Upload VSIX artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-ai-agent-extension
          path: '*.vsix'
